* {
	cursor: none;
}

.cursor {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: var(--main-gold);
	border-radius: 20px;
	z-index: 9999;
	opacity: 0;
	left: 0px;
	top: 0px;
	transition: opacity 500ms ease-in-out;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cursor-icon {
	font-size: 6px;
	line-height: 4px;

	opacity: 0;
	transition: opacity 400ms ease;
}

.cursor:not([data-type='']) > #cursor-icon {
	opacity: 1;
}

@media (hover: hover) {
	body:hover > .cursor {
		opacity: 1;
	}
}
