/*************/
/** GENERAL **/
/*************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: white;
	font-family: 'Poppins', sans-serif;

	user-select: none;
}

:root {
	font-size: clamp(60%, 2vw, 100%);

	--primary-color: #b9c9ff;
	--secondary-color: #cecece;
	--background-color: #0c1425;
	--background-secondary-color: #1f2b46;

	--primary-color-rgb: 185, 201, 255;

	--header-1-font-size: 3rem;
	--header-2-font-size: 2rem;
	--header-3-font-size: 1.15rem;
	--header-4-font-size: 1.15rem;
	--header-5-font-size: 1.1rem;
	--header-6-font-size: 0.825rem;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--background-color);
}

main {
	width: 90%;
	max-width: 960px;
}

p {
	font-size: max(2vh, var(--header-3-font-size));
}

h1 {
	color: var(--primary-color);
	font-size: var(--header-1-font-size);
}

h2 {
	font-size: var(--header-2-font-size);
	color: var(--primary-color);
}

h3 {
	color: var(--primary-color);
	font-size: var(--header-3-font-size);
}

h4 {
	font-weight: 400;
	font-size: var(--header-4-font-size);
}

h5 {
	color: var(--secondary-color);
	font-size: var(--header-5-font-size);
}

h6 {
	color: var(--secondary-color);
	font-size: var(--header-6-font-size);
}

.invisible {
	opacity: 0;
	pointer-events: none;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 17.5rem;
}

.main-section:not(:first-of-type) {
	padding-bottom: 3rem 0 2rem;
}

.main-section:not(:first-of-type):not(:nth-of-type(2)) {
	padding-top: 3.5rem;
}

.main-section h2:first-child {
	margin: 1rem 0;
}

@property --highlight-color-1 {
	syntax: '<color>';
	initial-value: #b9c9ff45;
	inherits: false;
}

@property --highlight-color-2 {
	syntax: '<color>';
	initial-value: transparent;
	inherits: false;
}

/**************/
/*** HEADER ***/
/**************/

#header {
	width: 100%;
	height: 5rem;

	position: sticky;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--background-color);
	box-shadow: 0px 0px 10px black;

	transition: opacity 100ms ease;

	z-index: 1;
}

#header .name {
	height: 100%;
	width: 12.5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

#header .name h3 {
	transition: font-size 300ms ease;
	transform-origin: center;
}

@media (hover) {
	#header .name:hover h3 {
		font-size: 1.25rem;
	}
}

#header .socials {
	width: 12.5rem;

	display: flex;
	justify-content: center;
	gap: 1rem;
}

#header .socials i {
	font-size: 2.65rem;
	transition: transform 300ms ease;
}

@media (hover) {
	#header .socials i:hover {
		transform: scale(1.125);
	}
}

/************/
/*** HOME ***/
/************/

i {
	color: var(--primary-color);
}

#home {
	flex-direction: row;
	justify-content: space-between;
}

#home .socials {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#home .socials i {
	font-size: 3.25rem;
	cursor: pointer;
	transition: color 300ms ease, transform 300ms ease;
}

@media (hover) {
	#home .socials i:hover {
		transform: scale(1.1);
	}
}

#home .main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#home .location-container {
	height: 35px;

	margin-top: 25px;

	border-radius: 25px;

	transition: margin-top 300ms ease, background 300ms ease, height 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease;
}

#home .location {
	height: clamp(30px, 4vw, 35px);

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0px 15px;

	border: 1px solid var(--primary-color);
	border-radius: 25px;

	background: linear-gradient(90deg, var(--highlight-color-1) 10%, var(--highlight-color-2) 90%);

	cursor: default;

	transition: margin-top 300ms ease, background 300ms ease, height 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease;
}

#home .location h6 {
	font-size: clamp(0.8rem, 1.35vh, 1.5rem);
}

@media (hover) {
	#home .location-container:hover {
		height: 40px;

		margin-top: 20px;

		border-radius: 0px;
	}

	#home .location-container:hover .location {
		--highlight-color-1: transparent;
		--highlight-color-2: #b9c9ff45;
	}
}

#home .location i {
	font-size: 0.83rem;

	margin-right: 10px;
}

/****************/
/*** ABOUT ME ***/
/****************/

#about-me > div {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.headshot-container {
	position: relative;
	height: 18rem;
	width: 18rem;
}

.headshot-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20%;
}

.headshot-container::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 255, 0.05);
	mix-blend-mode: color;
	border-radius: 20%;
}

#about-me .main-content-container {
	width: calc(min(90vw, 960px) - 16rem - 1rem);
}

.info-boxes {
	width: 100%;

	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.info-box {
	margin: 0.5rem;

	width: 13rem;
	height: 8rem;

	background-color: var(--background-secondary-color);

	border-radius: 1rem;
}

#about-me p {
	margin-top: 1rem;
	border-left: 3px solid var(--primary-color);
	padding-left: 1rem;
}

@media (max-width: 960px) {
	#about-me > div {
		flex-direction: column;
		gap: 1rem;
	}

	#about-me .main-content-container {
		width: min(90vw, 960px);
	}
}

/****************/
/*** PROJECTS ***/
/****************/

.project-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	gap: 1rem;
}

.project {
	background-color: var(--background-secondary-color);
	border-radius: 1.6rem;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: transform 300ms ease;
}

@media (hover) {
	.project:hover {
		transform: scale(1.03);
	}
}

.project a {
	text-align: center;
	text-decoration: none;
}

.project img {
	width: 60%;
	border-radius: 0.6rem;
	cursor: pointer;
	transition: transform 300ms ease;
}

@media (hover) {
	.project img:hover {
		transform: scale(1.035);
	}
}

.project .title,
.project .subtitle,
.project .technologies,
.project .description {
	width: 100%;
}

.project .technologies {
	margin: 0.5rem 0;
	padding: 0 0.5rem;

	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
}

.project .technologies span {
	background: linear-gradient(90deg, var(--highlight-color-1) 10%, var(--highlight-color-2) 90%);

	border: 1px solid var(--primary-color);
	border-radius: 1.15rem;
	padding: 0.25rem 0.75rem;

	display: flex;
	align-items: center;

	transition: background 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease, transform 300ms ease;
}

@media (hover) {
	.project .technologies span:hover {
		--highlight-color-1: transparent;
		--highlight-color-2: #b9c9ff45;
		transform: scale(1.08);
	}
}

.project .technologies span img {
	height: 1.15rem;
	width: 1.15rem;
	margin-right: 0.4rem;
	border-radius: 0.175rem;
}

.project .description {
	font-weight: normal;
}

.project .links {
	display: flex;
	gap: 0.75rem;
	margin-top: 0.5rem;
	width: 100%;
}

.project .links a {
	color: var(--primary-color);
	font-weight: 600;
	text-decoration: none;

	border: 1px solid var(--primary-color);
	border-radius: 1rem;

	padding: 0.25rem 0.65rem;

	transition: background-color 300ms ease, color 300ms ease;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.35rem;
}

.project .links a i {
	font-size: 1.25rem;
	transition: color 300ms ease;
}

@media (hover) {
	.project .links a:hover {
		background-color: var(--primary-color);
		color: var(--background-color);
	}

	.project .links a:hover i {
		color: var(--background-color);
	}
}
