/*************/
/** GENERAL **/
/*************/

* {
	box-sizing: border-box;

	padding: 0;
	margin: 0;

	color: white;

	user-select: none;

	font-family: 'Poppins', sans-serif;
}

:root {
	--primary-color: #b9c9ff;
	--secondary-color: #cecece;
	--background-color: #0c1425;
	--background-secondary-color: #1f2b46;

	--primary-color-rgb: 185, 201, 255;

	--header-1-font-size: 3rem;
	--header-2-font-size: 2rem;
	--header-3-font-size: 1.15rem;
	--header-4-font-size: 1.15rem;
	--header-5-font-size: 1.1rem;
	--header-6-font-size: 0.825rem;

	font-size: clamp(60%, 2vw, 100%);
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;

	background-color: var(--background-color);
}

main {
	width: 90%;
	max-width: 960px;
}

p {
	font-size: max(2vh, var(--header-3-font-size));
}

h1 {
	color: var(--primary-color);
	font-size: var(--header-1-font-size);
}

h2 {
	color: var(--primary-color);
	font-size: var(--header-2-font-size);
}

h3 {
	color: var(--primary-color);
	font-size: var(--header-3-font-size);
}

h4 {
	font-size: var(--header-4-font-size);
	font-weight: 400;
}

h5 {
	color: var(--secondary-color);
	font-size: var(--header-5-font-size);
}

h6 {
	color: var(--secondary-color);
	font-size: var(--header-6-font-size);
}

.invisible {
	opacity: 0 !important;
	pointer-events: none !important;
}

.invisible * {
	pointer-events: none !important;
}

.main-section {
	display: flex;
	align-items: center;
	flex-direction: column;

	min-height: 17.5rem;

	margin-bottom: 1rem;
}

.main-section:nth-of-type(2) > div:first-of-type {
	margin-top: 1rem;
}

.main-section:not(:first-of-type) {
	padding-bottom: 2rem;
}

.main-section > h2:first-child {
	margin: 1rem 0;
}

.main-section > h2:first-child > a {
	color: inherit;

	text-decoration: none;
}

.main-section > h2 {
	position: sticky;

	z-index: 1;

	top: 1rem;
}

@property --highlight-color-1 {
	syntax: '<color>';
	initial-value: #b9c9ff45;
	inherits: false;
}

@property --highlight-color-2 {
	syntax: '<color>';
	initial-value: transparent;
	inherits: false;
}

/**************/
/*** HEADER ***/
/**************/

#header {
	position: sticky;

	z-index: 1;

	top: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 5rem;

	background-color: var(--background-color);

	box-shadow: 0px 0px 10px black;

	transition: opacity 100ms ease;
}

#header .name {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 12.5rem;
	height: 100%;

	cursor: pointer;
}

#header .name h3 {
	transition: font-size 300ms ease;

	transform-origin: center;
}

@media (hover) {
	#header .name:hover h3 {
		font-size: 1.25rem;
	}
}

#header .socials {
	display: flex;
	justify-content: center;

	width: 12.5rem;

	gap: 1rem;
}

#header .socials i {
	transition: transform 300ms ease;

	font-size: 2.65rem;
}

@media (hover) {
	#header .socials i:hover {
		transform: scale(1.125);
	}
}

/************/
/*** HOME ***/
/************/

i {
	color: var(--primary-color);
}

#home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#home .socials {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

#home .socials i {
	cursor: pointer;

	transition: transform 300ms ease;

	font-size: 3.25rem;
}

@media (hover) {
	#home .socials i:hover {
		transform: scale(1.1);
	}
}

#home .main-content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#home h5 {
	font-size: clamp(1.2rem, 1.5vh, 1.5rem);
}

#home .location-container {
	height: 35px;

	margin-top: 25px;

	border-radius: 25px;

	transition: margin-top 300ms ease, background 300ms ease, height 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease;
}

#home .location {
	display: flex;
	align-items: center;
	justify-content: center;

	height: clamp(30px, 4vw, 35px);

	padding: 0px 15px;

	border: 1px solid var(--primary-color);
	border-radius: 25px;

	background: linear-gradient(90deg, var(--highlight-color-1) 10%, var(--highlight-color-2) 90%);

	cursor: default;

	transition: margin-top 300ms ease, background 300ms ease, height 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease;
}

#home .location h6 {
	font-size: clamp(0.8rem, 1.4vh, 1.8rem);
}

@media (hover) {
	#home .location-container:hover {
		height: 40px;

		margin-top: 20px;

		border-radius: 0px;
	}

	#home .location-container:hover .location {
		--highlight-color-1: transparent;
		--highlight-color-2: #b9c9ff45;
	}
}

#home .location i {
	margin-right: 10px;

	font-size: clamp(0.83rem, 1.5vh, 1.17rem);
}

/****************/
/*** ABOUT ME ***/
/****************/

#about-me > div {
	display: flex;
	align-items: center;

	gap: 2rem;
}

.headshot-container {
	position: relative;

	width: 18rem;
	height: 18rem;
}

.headshot-container img {
	width: 100%;
	height: 100%;

	border-radius: 20%;

	object-fit: cover;
}

.headshot-container::after {
	position: absolute;
	border-radius: 20%;
	background-color: rgba(0, 0, 255, 0.05);
	content: '';
	mix-blend-mode: color;
	inset: 0;
}

#about-me .main-content-container {
	width: calc(min(90vw, 960px) - 16rem - 1rem);
}

.info-boxes {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	gap: 1rem;
}

a:has(.info-box) {
	text-decoration: none;
}

.info-box {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: min(max(18vw, 16vh), min(13rem, 28vw));
	height: 8rem;

	margin: 0.5rem;

	border-radius: 1rem;

	background-color: var(--background-secondary-color);

	transition: box-shadow 300ms ease, transform 300ms ease;
}

.info-box i {
	margin-bottom: 0.5rem;
	font-size: 1.625rem;
}

.info-box h3 {
	margin-bottom: 0.2rem;
}

@media (hover) {
	.info-box:hover {
		box-shadow: 0px 0px 10px black;

		transform: scale(1.05) !important;
	}
}

#about-me p {
	padding-left: 1rem;
	margin-top: 1rem;

	border-left: 3px solid var(--primary-color);
}

@media (max-width: 960px) {
	#about-me > div {
		flex-direction: column;

		gap: 1rem;
	}

	#about-me .main-content-container {
		width: min(90vw, 960px);
	}
}

#about-me .animate {
	opacity: 1;
	transition: translate 600ms ease, transform 600ms ease, opacity 600ms ease;
	transform: none;
}

#about-me .info-box.animate {
	transition: translate 600ms ease, transform 300ms ease, box-shadow 300ms ease, opacity 600ms ease;
}

#about-me .headshot {
	opacity: 0;
	transform: scale(0.85);
}

#about-me .p {
	opacity: 0;
	transform: translateX(-40px);
}

#about-me .info-box {
	opacity: 0;
	translate: -40px 0;
}

#about-me .animate.visible {
	opacity: 1;
	transform: none;
	translate: 0;
}

/************************/
/*** TECHNICAL SKILLS ***/
/************************/

.skills-group {
	align-self: flex-start;

	width: 80%;

	padding: 1rem;
	margin-top: 1rem;
	margin-left: 5%;

	border-radius: 1rem;

	background-color: var(--background-secondary-color);

	text-align: center;
}

.skills-group:nth-child(odd) {
	align-self: flex-end !important;
	margin-right: 5%;
}

.skills-group:not(:first-of-type) {
	margin-top: 1rem;
}

.skills-group h3 {
	text-align: left;
}

.skill {
	display: inline-flex;
	align-items: center;

	padding: 0.25rem 0.75rem;
	margin: 0.75rem 0.25rem 0;

	border: 1px solid var(--primary-color);
	border-radius: 1.15rem;

	background: linear-gradient(90deg, var(--highlight-color-2) 10%, var(--highlight-color-1) 90%);

	transition: background 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease, box-shadow 300ms ease, transform 300ms ease;
}

.skill img {
	width: 1.15rem;
	height: 1.15rem;

	margin-right: 0.5rem;

	border-radius: 0.25rem;
}

@media (hover) {
	.skill:hover {
		--highlight-color-1: transparent;
		--highlight-color-2: #b9c9ff45;

		box-shadow: 0px 0px 5px black;

		transform: scale(1.08);
	}
}

.skills-group.animate {
	opacity: 1;
	transition: transform 600ms ease, opacity 600ms ease;
	transform: translateX(0);
}

.skills-group.animate.slide-right {
	opacity: 0;
	transform: translateX(60px);
}

.skills-group.animate.slide-left {
	opacity: 0;
	transform: translateX(-60px);
}

.skills-group.animate.visible {
	opacity: 1;
	transform: translateX(0);
}

/****************/
/*** PROJECTS ***/
/****************/

.project-container {
	display: grid;

	margin-top: 1rem;

	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));

	gap: 1rem;
}

.project {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 1rem;
	padding-bottom: 4.5rem;

	border-radius: 1.6rem;

	background-color: var(--background-secondary-color);

	transition: box-shadow 300ms ease, transform 300ms ease, translate 600ms ease, opacity 600ms ease;
}

@media (hover) {
	.project:hover {
		box-shadow: 0px 0px 10px black;

		transform: scale(1.03);
	}
}

.project > a {
	text-align: center;
	text-decoration: none;

	pointer-events: none;
}

.project > a > img {
	width: auto;
	height: 12.5rem;

	border-radius: 0.6rem;

	cursor: pointer;

	transition: box-shadow 300ms ease, transform 300ms ease;

	pointer-events: all;
}

@media (hover) {
	.project > a > img:hover {
		box-shadow: 0px 0px 10px black;

		transform: scale(1.035);
	}
}

.project .title,
.project .subtitle,
.project .technologies,
.project .description {
	width: 100%;
}

.project .title {
	font-size: 1.5rem;
}

.project .title span {
	float: right;

	padding: 0.1rem 0.5rem;

	margin-top: 0.3rem;

	border: 1px solid var(--primary-color);
	border-radius: 1rem;

	color: var(--secondary-color);

	font-size: 0.85rem;
}

.project .subtitle {
	font-size: 1.05rem;
}

.project .technologies {
	display: flex;
	flex-wrap: wrap;

	padding: 0 0.5rem;
	margin: 0.5rem 0;

	gap: 0.75rem;
}

.project .technologies span {
	display: flex;
	align-items: center;

	padding: 0.25rem 0.75rem;

	border: 1px solid var(--primary-color);
	border-radius: 1.15rem;

	background: linear-gradient(90deg, var(--highlight-color-2) 10%, var(--highlight-color-1) 90%);

	transition: background 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease, bos-shadow 300ms ease, transform 300ms ease;
}

@media (hover) {
	.project .technologies span:hover {
		--highlight-color-1: transparent;
		--highlight-color-2: #b9c9ff45;

		box-shadow: 0px 0px 5px black;

		transform: scale(1.08);
	}
}

.project .technologies span img {
	width: 1.15rem;
	height: 1.15rem;

	margin-right: 0.4rem;

	border-radius: 0.175rem;
}

.project .description {
	margin-top: 0.25rem;

	font-size: clamp(0.95rem, 1.5vh, 1.1rem);
	font-weight: normal;
}

.project .links {
	position: absolute;
	bottom: 1rem;
	left: 1rem;

	display: flex;

	width: 100%;

	margin-top: 0.5rem;

	gap: 0.75rem;
}

.project .links a {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.25rem 0.65rem;

	border: 1px solid var(--primary-color);
	border-radius: 1rem;

	color: var(--primary-color);

	transition: background-color 300ms ease, color 300ms ease;

	font-weight: bold;
	text-decoration: none;

	gap: 0.35rem;
}

.project .links a i {
	transition: color 300ms ease;

	font-size: 1.25rem;
}

@media (hover) {
	.project .links a:hover {
		color: var(--background-color);
		background-color: var(--primary-color);
	}

	.project .links a:hover i {
		color: var(--background-color);
	}
}

.project.animate {
	opacity: 0;
	translate: -20px -20px;
}

.project.animate.visible {
	opacity: 1;
	translate: 0;
}

/******************/
/*** EXPERIENCE ***/
/******************/

#experience {
	transition: height 300ms ease;
}

.work-education-toggle {
	display: flex;
	justify-content: center;

	height: 5rem;

	padding: 1rem;
	margin-top: 1rem;

	border-radius: 2rem;

	background-color: var(--background-secondary-color);

	gap: 1rem;
}

.work-education-toggle button {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 12rem;

	line-height: 1.55rem;

	padding: 0.5rem 1rem;

	border: 1px solid var(--primary-color);
	border-radius: 1rem;

	color: var(--secondary-color);
	background-color: var(--background-secondary-color);

	cursor: pointer;

	transition: background-color 300ms ease, color 300ms ease, border-width 100ms ease, font-size 200ms ease;

	font-size: 1rem;
	font-weight: bold;
}

@media (hover) {
	.work-education-toggle button:hover {
		border-width: 3px;

		font-size: 1.15rem;
	}
}

.work-education-toggle button.active {
	border-width: 3px;

	color: var(--background-color);
	background-color: var(--primary-color);

	cursor: default;

	font-size: 1.15rem;
}

.experience-container {
	position: relative;

	width: calc(100% - min(10vw, 6rem));
}

.experience-container .work,
.experience-container .education {
	position: absolute;

	width: 100%;

	padding: 1rem;
	margin-top: 1rem;

	border-radius: 2rem;

	background-color: var(--background-secondary-color);

	transition: opacity 300ms ease;
}

.experience-container .item {
	display: flex;
	flex-direction: row;

	gap: 1rem;
}

.experience-container .item:not(:first-of-type) {
	margin-top: 1rem;
}

.experience-container .item .icon {
	position: relative;
	left: 2.5rem;

	width: 0px;

	margin-top: 5rem;

	transition: border-color 300ms ease;

	pointer-events: none;
}

.experience-container .item:not(:last-of-type) .icon {
	border: 1px solid var(--secondary-color);
}

.experience-container .item .icon img {
	position: absolute;
	top: -5rem;
	left: -2.5rem;

	width: 5rem;
	height: 5rem;

	padding: 0.2rem;

	border: 2px solid var(--secondary-color);
	border-radius: 100%;

	transition: border-color 300ms ease, transform 300ms ease, padding 100ms ease;

	pointer-events: all;
}

@media (hover) {
	.experience-container .item .icon:has(img:hover),
	.experience-container .item .icon img:hover {
		border-color: var(--primary-color);

		cursor: pointer;
	}

	.experience-container .item .icon img:hover {
		padding: 0;
		transform: scale(1.085);
	}
}

.experience-container .item > div:not(.icon) {
	margin-left: 6rem;
}

.experience-container .technologies {
	display: flex;
	flex-wrap: wrap;

	padding: 0 0.5rem;
	margin: 0.5rem 0;

	gap: 0.75rem;
}

.experience-container .technologies span {
	display: flex;
	align-items: center;

	padding: 0.25rem 0.75rem;

	border: 1px solid var(--primary-color);
	border-radius: 1.15rem;

	background: linear-gradient(90deg, var(--highlight-color-2) 10%, var(--highlight-color-1) 90%);

	transition: background 300ms ease, --highlight-color-1 300ms ease, --highlight-color-2 300ms ease, bos-shadow 300ms ease, transform 300ms ease;
}

@media (hover) {
	.experience-container .technologies span:hover {
		--highlight-color-1: transparent;
		--highlight-color-2: #b9c9ff45;

		box-shadow: 0px 0px 5px black;

		transform: scale(1.08);
	}
}

.experience-container .technologies span img {
	width: 1.15rem;
	height: 1.15rem;

	margin-right: 0.4rem;

	border-radius: 0.175rem;
}

.experience-container .item .date {
	margin-bottom: -0.2rem;

	color: var(--secondary-color);

	font-size: 0.9rem;
}

.experience-container .item .company {
	font-size: 1.35rem;
}

.experience-container .item .company a {
	color: inherit;

	text-decoration: none;
}

.experience-container .item .position {
	margin-top: -0.2rem;

	color: var(--secondary-color);

	font-size: 0.9rem;
	font-weight: bold;
}

.experience-container .item .description {
	margin-top: 0.5rem;
	margin-left: 1.5rem;

	font-size: 0.95rem;
}

.work-education-toggle.animate {
	opacity: 0;
	transition: translate 600ms ease, opacity 300ms ease;
	translate: 0 24px;
}

.work-education-toggle.animate.visible {
	opacity: 1;
	translate: 0;
}

.experience-container .work.animate,
.experience-container .education.animate {
	opacity: 0;
	transition: translate 600ms ease, opacity 300ms ease;
	translate: 0 24px;
}

.experience-container .work.animate.visible,
.experience-container .education.animate.visible {
	opacity: 1;
	translate: 0;
}

/******************/
/*** CONTACT ME ***/
/******************/

.contacts {
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 100%;
	max-width: 960px;

	padding: 1rem;

	border-radius: 1rem;
}

.contact {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	min-width: 18rem;

	padding: 1.5rem;

	border-radius: 1.5rem;

	background-color: var(--background-secondary-color);

	transition: box-shadow 300ms ease, transform 300ms ease, translate 600ms ease, opacity 600ms ease;

	text-decoration: none;
}

@media (max-width: 960px) {
	.contacts {
		align-items: center;
		flex-direction: column;

		gap: 1rem;
	}
}

@media (hover) {
	.contact:hover {
		box-shadow: 0px 0px 10px black;

		transform: scale(1.05);
	}
}

.contact i {
	margin-right: 0.5rem;

	font-size: 1.5rem;
}

.contact h3 {
	display: inline;

	font-size: 1.5rem;
}

.contact.animate {
	opacity: 0;
	translate: 0 24px;
}

.contact.animate.visible {
	opacity: 1;
	translate: 0;
}
