:root {
	--main-bg-color: #1c1c1c;
	--main-gold: #e6bb00;
	--link-blue: #00aaff;
	--link-blue-hover: #007cba;
	--link-hover-bg: rgba(255, 255, 255, 0.15);
	--link-hover-border: rgba(255, 255, 255, 0.5);
	--lettle-green: #538d4e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	scrollbar-width: none;
}

body {
	background-color: var(--main-bg-color);
	overflow-x: hidden;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto 8px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	font-family: 'Impact', sans-serif;
	font-weight: 300;
	font-size: max(min(5vmin, 32px), 16px);
	margin: 0 2vw;
	padding-bottom: 2px;
	white-space: nowrap;
	transition: color 250ms ease-in-out;
}

@media (hover: hover) {
	nav a:hover {
		color: var(--main-gold);
	}
}

#selected-page {
	border-bottom: 3px solid var(--main-gold);
	width: 30px;
	height: 100%;
	position: absolute;
	transition: left 250ms ease-out, width 250ms ease-out;
	pointer-events: none;
}

header hr {
	transform: scaleX(0);
	transition: transform 300ms ease-in;
	background-color: var(--link-blue);
	height: 1px;
	border: none;
	margin-bottom: 5px;
}

.page {
	position: absolute;
	transition: opacity 250ms linear;
	color: white;
	width: 100%;
}

#about-me {
	top: 0;
	height: 100%;
	pointer-events: none;
}

#about-me-container {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

#about-me-container img {
	pointer-events: all;
	border-radius: 25%;
	transition: transform 250ms ease-in-out;
}

@media (hover: hover) {
	#about-me-container img:hover {
		transform: scale(1.1) rotate(3deg) translateY(-10px);
	}
}

#about-me-container p {
	font-family: 'Roboto', sans-serif;
	font-size: min(4vw, 3.25vh);
	text-align: justify;
	max-width: 50vw;
}

.project {
	position: relative;
	flex: 100000;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	border: transparent 3px;
	border-style: solid none;
	transition: background-color 250ms ease-out, border-color 250ms ease-out, margin-left 250ms ease-out, padding-left 250ms ease-out;
	text-decoration: none;
}

.project-container {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	border-bottom: 1px solid transparent;
}

.project-container.clicked .project {
	background-color: var(--link-hover-bg);
	border-color: var(--link-hover-border);
	margin-left: -30%;
	padding-left: 30%;
}

.project canvas {
	transition: margin-left 500ms ease-in-out;
}

.project a {
	color: var(--link-blue);
}

.link {
	flex: 1;
	width: 30%;
	background-color: var(--link-blue);
	transition: background-color 250ms ease-out;
	z-index: 1;
	overflow: hidden;
	border: var(--link-blue-hover) 3px;
	border-style: solid none;
}

.link div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-size: min(4.5vw, 28px);
}

.link div i {
	margin: 10px;
}

.project-container .link.clicked {
	background-color: var(--link-blue-hover);
}

.project-description {
	max-width: 225px;
	text-align: center;
	flex: 1;
	transition: opacity 250ms ease-out, flex-grow 250ms ease-out, left 250ms ease-in-out;
	left: 0px;
	position: relative;
	overflow: hidden;

	& h1 {
		font-size: min(5vw, 30px);
		text-decoration: underline;
		white-space: nowrap;
	}

	& p {
		font-size: min(3.75vw, 18px);
		white-space: nowrap;
	}
}

#lettle,
#banana-bonanza,
#chess-ai {
	flex: 1;
	width: 50vw !important;
	height: 50vw !important;
	max-width: 300px;
	max-height: 300px;
	flex-grow: 0;
}

#banana-bonanza {
	transform: scale(1.35);
}

#chess-ai {
	transform: scale(0.65);
}

.service-container {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
}

.service {
	position: relative;
	flex: 100000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	border: transparent 3px;
	border-style: solid none;
	transition: background-color 250ms ease-out, border-color 250ms ease-out, margin-left 250ms ease-out, padding-left 250ms ease-out;
	text-decoration: none;
}

.service-container.clicked .service {
	background-color: var(--link-hover-bg);
	border-color: var(--link-hover-border);
	margin-left: -30%;
	padding-left: 30%;
}

.service-container .link.clicked {
	background-color: var(--link-blue-hover);
}

.service-description {
	text-align: center;
	transition: opacity 250ms ease-out, flex-grow 250ms ease-out, left 250ms ease-in-out;
	left: 0px;
	position: relative;
	overflow: hidden;
	margin: 0 10%;
	font-size: min(4.5vw, 24px);
	white-space: nowrap;
}

.service-title {
	text-align: center;
	transition: opacity 250ms ease-out, flex-grow 250ms ease-out, left 250ms ease-in-out;
	left: 0px;
	position: relative;
	overflow: hidden;
	font-size: min(3vw, 18px);
	text-decoration: underline;
	white-space: nowrap;
}

@media (hover: hover) {
	.project-container:hover .project {
		background-color: var(--link-hover-bg);
		border-color: var(--link-hover-border);
		margin-left: -30%;
		padding-left: 30%;
	}

	.project-container .link:hover {
		background-color: var(--link-blue-hover);
	}

	.service-container:hover .service {
		background-color: var(--link-hover-bg);
		border-color: var(--link-hover-border);
		margin-left: -30%;
		padding-left: 30%;
	}

	.service-container .link:hover {
		background-color: var(--link-blue-hover);
	}
}

@media (max-width: 755px) {
	.project-container.clicked .project .project-description {
		opacity: 0;
		flex-grow: 0;
		left: 100%;
	}

	@media (hover: hover) {
		.project-container:hover .project .project-description {
			opacity: 0;
			flex-grow: 0;
			left: 100%;
		}
	}
}

@media (max-height: 600px) {
	#lettle,
	#chess-ai {
		max-width: 175px;
		max-height: 175px;
	}

	.project-description {
		& h1 {
			font-size: 20px;
		}

		& p {
			font-size: 16px;
		}
	}
}

.content {
	display: none;
}
