:root {
	--main-bg-color: #1c1c1c;
	--main-gold: #e6bb00;
	--link-blue: #00aaff;
	--link-blue-hover: #007cba;
	--link-hover-bg: rgba(255, 255, 255, 0.15);
	--link-hover-border: rgba(255, 255, 255, 0.5);
	--lettle-green: #538d4e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

body {
	background-color: var(--main-bg-color);
	overflow-x: hidden;
}

header hr {
	transform: scaleX(0);
	transition: transform 300ms ease-in;
	background-color: var(--main-gold);
	height: 1px;
	border: none;
	margin-bottom: 5px;
}

.typed-text {
	font-size: max(10vw, 26px);
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto 8px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	font-family: 'Impact', sans-serif;
	font-weight: 300;
	font-size: max(min(5vmin, 32px), 16px);
	margin: 0 2vw;
	padding-bottom: 2px;
	cursor: pointer;
	white-space: nowrap;
}

#selected-page {
	border-bottom: 3px solid var(--main-gold);
	width: 30px;
	height: 100%;
	position: absolute;
	transition: left 250ms ease-out, width 250ms ease-out;
	pointer-events: none;
}

section h2 {
	font-size: max(24px, 1.8vw);
	text-decoration: underline;
	text-decoration-color: var(--main-gold);
}

section p {
	font-size: max(16px, 1.2vw);
	max-width: 1000px;
	margin: 0 auto;
}

#my-mission p:not(:last-child),
#about-me p:not(:last-child) {
	margin-bottom: 15px;
}

#about-me-divider {
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-me-divider div {
	margin: 0 50px;
}

#about-me-divider div p {
	max-width: 500px;
}

#about-me-divider div img {
	width: 350px;
}

#hidden-jacob-image {
	width: 350px;
	display: none;
}

section div ul {
	list-style: none;
}

section div ul li {
	font-size: max(16px, 1.25vw);
}

section div ul li::before {
	content: '\2022';
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	color: var(--main-gold);
}

.selectedAnchor {
	background-color: #ffffaa !important;
}

section {
	padding: 20px;
	text-align: center;
	transition: background-color ease-in-out 1000ms;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#services li {
	text-align: left;
}

#services-list {
	max-width: 525px;
	margin: 0 auto;
	padding: 0 20px;
}

#contact-me a {
	color: var(--main-gold);
}

.content {
	display: none;
}

.selected-section {
	background-color: rgba(255, 255, 0, 0.3) !important;
}
