:root {
	--main-bg-color: #1c1c1c;
	--primary-accent: #e6bb00;
	--secondary-accent: #00aaff;
	--secondary-accent-hover: #007cba;
	--link-hover-bg: rgba(255, 255, 255, 0.15);
	--link-hover-border: rgba(255, 255, 255, 0.5);
	--lettle-green: #538d4e;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

body {
	background-color: var(--main-bg-color);
	overflow-x: hidden;
}

* {
	transition: background-color 250ms ease-out, color 250ms ease-out, text-decoration-color 250ms ease-out;
	color: white;
	text-decoration-color: white;
}

*.light {
	--main-bg-color: #e3e3e3;
	--primary-accent: #00aaff;
	--secondary-accent: #e6bb00;
	color: black;
	text-decoration-color: var(--primary-accent);
}

hr.light {
	background-color: black;
}

.dark-light-mode.light i {
	color: black;
}

header hr {
	transform: scaleX(0);
	transition: transform 300ms ease-in;
	background-color: var(--secondary-accent);
	height: 1px;
	border: none;
	margin-bottom: 5px;
}

.typed-text {
	font-size: max(10vw, 26px);
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto 8px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	font-family: 'Impact', sans-serif;
	font-weight: 300;
	font-size: max(min(5vmin, 32px), 16px);
	margin: 0 2vw;
	padding-bottom: 2px;
	white-space: nowrap;
	transition: color 100ms ease-in-out;
}

@media (hover: hover) {
	nav a:hover {
		color: var(--primary-accent);
	}
}

#selected-page {
	border-bottom: 3px solid var(--primary-accent);
	width: 30px;
	height: 100%;
	position: absolute;
	transition: left 250ms ease-out, width 250ms ease-out;
	pointer-events: none;
}

.dark-light-mode {
	position: absolute;
	top: 0;
	right: 0;
	margin: min(3vmin, 30px);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: min(8vmin, 60px);
	aspect-ratio: 1;
	cursor: pointer;
	transition: top 250ms ease-in-out;
}

.dark-light-mode i {
	font-size: min(6vmin, 48px);
	color: white;
	transition: color 250ms ease-in-out;
}

@media (hover: hover) {
	.dark-light-mode:hover i {
		color: var(--primary-accent);
	}
}

section h2 {
	font-size: max(24px, 1.8vw);
	text-decoration: underline;
	text-decoration-color: var(--primary-accent);
}

section p {
	font-size: max(16px, 1.2vw);
	max-width: 1000px;
	margin: 0 auto;
}

#my-mission p:not(:last-child),
#about-me p:not(:last-child) {
	margin-bottom: 15px;
}

#about-me-divider {
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-me-divider div {
	margin: 0 50px;
}

#about-me-divider div p {
	max-width: 500px;
}

#about-me-divider div img {
	width: 350px;
}

#hidden-jacob-image {
	width: 350px;
	display: none;
}

section div ul {
	list-style: none;
}

section div ul li {
	font-size: max(16px, 1.25vw);
}

section div ul li::before {
	content: '\2022';
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	color: var(--primary-accent);
}

.selectedAnchor {
	background-color: #ffffaa !important;
}

section {
	padding: 20px;
	text-align: center;
	transition: background-color ease-in-out 1000ms;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#services li {
	text-align: left;
}

#services-list {
	max-width: 525px;
	margin: 0 auto;
	padding: 0 20px;
}

#contact-me a {
	color: var(--primary-accent);
	text-decoration: none;
}

.content {
	display: none;
}

#back-to-home {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 150px;
	height: 45px;
	border-radius: 25px;
	background-color: var(--main-bg-color);
	border: var(--primary-accent) 2px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: white;
	font-family: 'Claro', sans-serif;
	font-size: 20px;
	z-index: 5;
	transition: left 250ms ease-in-out;
	cursor: pointer;
}

#back-to-home-cancel {
	position: relative;
	margin: 0 -12px;
	padding-left: 14px;
	padding-right: 20px;
	right: 0;
	height: calc(100% + 6px);
	display: flex;
	align-items: center;
	z-index: 6;
}

.v-line {
	width: 2px;
	height: 100%;
	background-color: var(--primary-accent);
	transform: translateX(-50%);
}
