* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
	color: #1d2d44;
	background-color: #f6f8fa;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Color Scheme */
:root {
	--blue: #1d3557;
	--teal: #1abc9c;
	--gold: #e0b043;
}

/* Navigation Bar */
nav {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	padding: 15px;
	color: white;
	background-color: var(--blue);
}

nav a {
	margin: 5px 30px;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 1.125rem;
	font-weight: bold;
	text-decoration: none;
}

@media (hover) {
	nav a:hover {
		color: var(--gold);
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
}

section {
	padding: 10px 10%;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h1,
h2 {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

h1,
h2,
h3 {
	margin: 20px 0px 10px;
	color: var(--blue);
	font-family: 'Poppins', sans-serif;
}

p {
	margin: 10px 0px;
}

/* Interests & Goals Layout */
.two-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.two-column > div > ul,
.two-column > div > ol {
	margin-left: 20px;
}

/* Gallery */
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 25px;
}

.card {
	padding: 20px;
	border: 3px solid transparent;
	border-radius: 8px;
	background: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card.highlight {
	border-color: var(--gold);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card img {
	width: 80%;
	margin: 0 10% 10px 10%;
	border-radius: 5px;
}

#introduction,
#goals,
#gallery,
#conclusion {
	padding-top: 72px;
	margin-top: -72px;
}

@media (max-width: 800px) {
	nav {
		position: static;
		flex-direction: column;
		padding: 5px 0px;
		text-align: center;
	}

	#introduction,
	#goals,
	#gallery,
	#conclusion {
		padding-top: 0px;
		margin-top: 0px;
	}
}
