.end-game-modal-container {
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	height: 100dvh;
	width: 100dvw;

	z-index: 100;

	background-color: rgba(0, 0, 0, 0);
	transition: background-color 300ms ease-in-out;
}

.end-game-modal {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 30px;

	padding: 50px;

	max-width: 80dvw;
	height: 300px;

	background-color: gainsboro;

	border: clamp(3px, 0.6dvh, 10px) solid black;
	border-radius: 10px;

	opacity: 0;
	transition: opacity 300ms ease-in-out;

	text-align: center;
}

.end-game-modal h1 {
	display: flex;
	flex-direction: column;
	align-items: center;

	white-space: nowrap;
}

.end-game-modal h1 > div {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 10px;
	min-width: 50px;
	height: 50px;

	border-radius: 7px;

	color: white;
}

.time-you div {
	background: rgb(255, 88, 88);
	border: 3px solid rgb(198, 43, 43);
}

.time-opponent div {
	background: rgb(18, 128, 255);
	border: 3px solid rgb(12, 73, 142);
}

.time-opponent .fa-spinner {
	position: absolute;
	animation: spin 1.5s cubic-bezier(0.8, 0, 0.5, 1) infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.result-text {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	padding-bottom: 20px;

	width: 100%;
	height: 50%;

	color: black;
	-webkit-text-stroke: 2px black;

	font-size: 60px;
	font-weight: bold;

	background-color: gainsboro;
	border-radius: 10px;

	opacity: 0;

	transition: opacity 300ms ease-in-out;
}

.result-text.win {
	color: rgb(21, 209, 0);
	-webkit-text-stroke: 2px rgb(16, 158, 0);
}

.result-text.lose {
	color: rgb(255, 88, 88);
	-webkit-text-stroke: 2px rgb(198, 43, 43);
}

.end-game-buttons-container {
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;

	padding-top: 20px;

	width: 100%;
	height: 50%;

	background-color: gainsboro;
	border-radius: 10px;

	opacity: 0;

	transition: opacity 300ms ease-in-out;
}

.rematch {
	background-color: rgb(16, 158, 0);
	border: 3px solid rgb(12, 118, 0);

	color: white;

	padding: 15px 20px;
	border-radius: 10px;

	font-size: 24px;
	font-weight: bold;

	pointer-events: none;

	cursor: pointer;

	transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.quit {
	background-color: rgb(255, 88, 88);
	border: 3px solid rgb(198, 43, 43);

	color: white;

	padding: 15px 25px;
	border-radius: 10px;

	font-size: 24px;
	font-weight: bold;

	pointer-events: none;

	cursor: pointer;

	transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

@media (hover) {
	.rematch:not([disabled]):hover {
		background-color: rgb(12, 118, 0);
		border: 3px solid rgb(16, 158, 0);
	}

	.quit:hover {
		background-color: rgb(198, 43, 43);
		border: 3px solid rgb(255, 88, 88);
	}
}

.rematch:not([disabled]):active {
	background-color: rgb(10, 97, 0);
	border: 3px solid rgb(12, 118, 0);
	transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
}

.quit:active {
	background-color: rgb(168, 37, 37);
	border: 3px solid rgb(198, 43, 43);
	transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
}

.rematch[disabled] {
	filter: grayscale(1);
	cursor: not-allowed;
}
