* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	color: white !important;
	font-family: 'Comic Sans MS', sans-serif;
}

html,
body {
	height: 100%;
}

body {
	background-color: #121213 !important;
	touch-action: none;
	overflow: hidden;
}

body::after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(../images/banana.png) url(../images/excited_monkey.svg) url(../images/goofy_monkey.svg) url(../images/neutral_monkey.svg) url(../images/winking_monkey.svg);
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #121213;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	transition: opacity 0.5s ease-in-out;
}

#loading img {
	width: 30vmin;
	animation: rotate 1s infinite ease-in-out;
}

header {
	position: absolute;
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
}

header svg {
	width: min(4vmax, 36px);
	height: min(4vmax, 36px);
	margin: 0.5vmax;
	cursor: pointer;
	z-index: 1;
	transition: transform 0.5s ease-in-out;
}

#how-to-play {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #121213;
	z-index: 60;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
	pointer-events: none;
	overflow-y: auto;
}

#how-to-play-text {
	text-align: center;
	font-size: min(max(2.5vmax, 18px), 26px);
}

#how-to-play-text > div > span:has(img) {
	display: flex;
	justify-content: center;
	align-items: center;
}

#how-to-play-text > div > span > img {
	width: 3.5vmax;
	height: 3.5vmax;
	margin: 0.5vmax;
}

#how-to-play svg {
	cursor: pointer;
	width: min(4vmax, 36px);
	height: min(4vmax, 36px);
	margin: 0.5vmax;
	position: fixed;
	background-color: #121213;
	border-radius: 0 0 10px 0;
}

#how-to-play h1 {
	font-size: max(5vmax, 36px);
	margin-bottom: 10px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: min(0.5vmax, 8px);
}

#settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #121213;
	z-index: 60;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
	pointer-events: none;
	overflow-y: auto;
}

#settings svg {
	right: 0;
	cursor: pointer;
	width: min(4vmax, 36px);
	height: min(4vmax, 36px);
	margin: 0.5vmax;
	position: fixed;
	background-color: #121213;
	border-radius: 0 10px 0 0;
	transition: transform 0.5s ease-in-out;
}

#settings h1 {
	font-size: max(5vmax, 36px);
	margin-bottom: 10px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: min(0.5vmax, 8px);
}

.setting {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vmin;
	margin: 0 5vmin;
}

.setting-title {
	font-size: min(max(3vmax, 24px), 36px);
	margin-bottom: 10px;
	text-align: left;
	text-decoration: underline;
	text-underline-offset: min(0.5vmax, 8px);
}

.setting-description {
	font-size: min(max(2vmax, 14px), 20px);
	margin-bottom: 10px;
	text-align: left;
	color: lightgray !important;
}

.toggle-handle {
	background-color: white !important;
}

.toggle[disabled] {
	opacity: 0.5;
}

.toggle[disabled] > .toggle-group > .btn {
	cursor: not-allowed;
}

.toggle-handle:active {
	border-color: white !important;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#background {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bananas {
	width: 0px;
	max-width: 550px;
	height: 75px;
	background-color: #121213;
	border: 0px solid white;
	border-radius: 25px;
	z-index: 15;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border-width 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
	pointer-events: none;
}

#bananas > .banana {
	z-index: 20;
	width: min(4.5vmax, 50px);
	height: min(4.5vmax, 50px);
	transition: opacity 0.5s ease-in-out;
}

#bananas-collected-text {
	position: absolute;
	z-index: 20;
	top: calc(50% - 57.5px);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	font-size: min(4vw, 16px);
}

#banana-circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	touch-action: none;
}

#banana-circle-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#current-bananas {
	position: absolute;
	top: 5px;
	width: calc(100% - 5px);
	height: min(35vw, 75px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	z-index: -1;
}

#current-bananas img {
	height: 100%;
	pointer-events: none;
}

#current-bananas span {
	font-size: max(min(10vw, 30px), 14px);
}

#find-angle-container {
	position: absolute;
	top: calc(min(35vw, 75px) + 5px);
	width: 100%;
	height: min(35vw, 75px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	z-index: -1;
}

#find-angle-container span {
	font-size: max(min(8vw, 24px), 20px);
}

#remaining-attempts {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-align: center;
}

#remaining-attempts span {
	display: block;
	font-size: max(min(3vw, 4vh), 20px);
}

#remaining-attempts img {
	width: calc(max(min(3vw, 4vh), 20px) * 1.75);
	transition: filter 0.5s ease-in-out;
}

#search {
	position: fixed;
	border: 2px dashed;
	width: 300px;
	height: 300px;
	max-width: min(min(calc(100vw - 20px), max(20vh, 20vw)), calc(100vh - 20px));
	max-height: min(min(calc(100vw - 20px), max(20vh, 20vw)), calc(100vh - 20px));
	bottom: 10px;
	right: 10px;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transition: transform 0.1s ease-in-out;
}

#search img {
	width: 100%;
	transform: scale(1.5);
	position: absolute;
}

#search span {
	position: absolute;
	bottom: 0;
	font-size: min(min(calc(20vw - 4px), max(4vh, 4vw)), 60px);
}

#search:active,
.searching {
	transform: scale(0.95);
	border: 2px solid !important;
	background-color: rgba(255, 255, 0, 0.25);
	cursor: pointer;
}

#search:active img,
.searching img {
	top: 11.5% !important;
	transform: scale(2) !important;
	content: url(../images/excited_monkey.svg) !important;
}

#search:active span,
.searching span {
	display: none;
}

#game-over {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
	opacity: 0;
	pointer-events: none;
	justify-content: center;
}

#game-over-modal {
	position: absolute;
	width: 40%;
	min-width: 300px;
	height: 70%;
	top: 15%;
	background-color: #424242;
	border: 3px solid white;
	border-radius: 20px;
	text-align: center;
	font-size: max(min(12vw, 36px), 30px);
}

#final-monkey {
	width: 100%;
	height: calc(100% - max(min(12vw, 36px), 30px) - max(min(12vw, 36px), 30px) - min(6vmax, 60px) - 170px);
	display: flex;
	align-items: center;
	justify-content: center;
}

#final-monkey > img {
	width: 50vh;
	position: relative;
}

#final-bananas-container {
	display: block;
}

#final-bananas {
	display: inline-block;
	font-size: max(min(14vw, 42px), 35px);
}

#final-bananas img {
	position: relative;
	width: 65px;
}

#final-adjective {
	margin-top: 15px;
	font-size: min(6vmax, 60px);
	font-family: 'Impact', sans-serif;
}

#final-buttons {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

#final-buttons div {
	padding: 10px 15px;
	margin-bottom: 10px;
	font-size: max(min(8vw, 24px), 20px);
	border-radius: 10px;
	background-color: #538d4e;
	z-index: 50;
	cursor: pointer;
}

@media (hover: hover) {
	#search:hover {
		border: 2px solid;
		background-color: rgba(255, 255, 0, 0.25);
		cursor: pointer;
	}

	#search:hover img {
		top: 2.25%;
		transform: scale(1.49);
		content: url(../images/goofy_monkey.svg);
	}
}

@media (min-aspect-ratio: 3/5) {
	#current-bananas {
		justify-content: flex-start;
		left: 5px;
		top: calc(min(3vmax, 27px) + 5px);
	}

	#find-angle-container {
		top: auto;
		bottom: 20px;
		left: 20px;
		width: calc(100% - 20px);
		justify-content: flex-start;
	}

	#find-angle-container div {
		display: block;
	}

	#find-angle div {
		display: flex;
		justify-content: center;
		gap: 7px;
	}

	#remaining-attempts {
		top: calc(10px + min(3vmax, 27px));
		bottom: auto;
		right: 10px;
		left: auto;
	}
}

@media (max-width: 600px) and (max-height: 500px) {
	#current-bananas {
		justify-content: flex-start;
		left: 5px;
		top: calc(min(3vmax, 27px) + 5px);
	}

	#find-angle-container {
		top: auto;
		bottom: 20px;
		left: 20px;
		width: calc(100% - 20px);
		justify-content: flex-start;
	}

	#find-angle-container div {
		display: block;
	}

	#find-angle div {
		display: flex;
		justify-content: center;
		gap: 7px;
	}

	#remaining-attempts {
		top: calc(10px + min(3vmax, 27px));
		bottom: auto;
		right: 10px;
		left: auto;
	}
}

@media (min-width: 601px) and (max-height: 850px) {
	#current-bananas {
		justify-content: flex-start;
		left: 5px;
		top: calc(min(3vmax, 27px) + 5px);
	}

	#find-angle-container {
		top: auto;
		bottom: 20px;
		left: 20px;
		width: calc(100% - 20px);
		justify-content: flex-start;
	}

	#find-angle-container div {
		display: block;
	}

	#find-angle div {
		display: flex;
		justify-content: center;
		gap: 7px;
	}

	#remaining-attempts {
		top: calc(10px + min(3vmax, 27px));
		bottom: auto;
		right: 10px;
		left: auto;
	}
}

@media (max-width: 380px) and (min-height: 650px) {
	#remaining-attempts {
		bottom: calc(min(min(calc(100vw - 20px), max(20vh, 20vw)), calc(100vh - 20px)) + 10px);
		right: 10px;
		left: auto;
	}
}

@media (max-height: 650px) {
	#final-adjective {
		display: none;
	}

	#final-monkey {
		height: calc(100% - max(min(12vw, 36px), 30px) - max(min(12vw, 36px), 30px) - 130px);
	}

	#game-over-modal {
		width: 80%;
	}

	#final-bananas-container {
		display: inline-block;
	}
}

@media (max-height: 650px) and (min-width: 635px) {
	#final-monkey {
		height: calc(100% - max(min(12vw, 36px), 30px) - max(min(12vw, 36px), 30px) - 70px);
	}

	#final-monkey img {
		transform: scale(1.5);
		max-height: 100%;
	}
}

@media (max-height: 300px) {
	#game-over-modal {
		padding-top: 0px;
	}
}

@media (min-width: 850px) {
	#find-angle-container span {
		font-size: max(min(12vw, 36px), 30px);
	}
}

@media (min-height: 650px) {
	#find-angle-container span {
		font-size: max(min(12vw, 36px), 30px);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
